body{
    margin:0;
 
    background-image: url("https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
.Navbar{
/*border:solid 4px;*/
position:sticky;
background-color: rgba(90, 18, 157);
min-width:40cm;min-height: 2cm;
display:flex;
align-items: center;justify-content: space-evenly;
z-index: 2;
}
.Navbar a{
    color: aliceblue;
    text-decoration:none;
    font-size:x-large;
}
.Bcontainer {
    /* border: solid black 4px;*/
    min-height: 16.8cm;min-width:40cm;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
body p{
    color:white;font-size :100px;;font-weight:bolder;
    text-align: center;margin-top:4cm;
}
body p+p{
    color:grey;font-size :45px;;font-weight:bolder;
    text-align: center;margin-top:4cm;margin-top: -3cm;
    -webkit-text-stroke:0.5px black
}