<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
    <link rel="stylesheet" href="Contact us.css" />


</head>
<nav class="Navbar">
    <a rel="Home" href="/">Home </a>
    <a rel="Our Services" href="/Our-Services">Our Services</a>
    <a rel="Contact us" href="/Contact-us">Contact us</a>
</nav>

<body>
    <section class="Bcontainer">
        <div class="container">
            <form action="#">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="australia">Tunisia</option>
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <input style="background-color:rgba(12, 28, 176, 0.677)" class="submit" type="submit" value="Submit">
            </form>
        </div>
    </section>

</body>

</html>