<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Our Services.css" />
</head>
<nav class="Navbar">
    <a rel="Home" href="/">Home </a>
    <a rel="Our Services" href="/Our-Services">Our Services</a>
    <a rel="Contact us" href="/Contact-us">Contact us</a>
</nav>

<body>
    <section class="Bcontainer">
        <div class="container">
            <div class="imgContainer">
                <img src="https://images.unsplash.com/photo-1582719188393-bb71ca45dbb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Italian Trulli">
            </div>
            <div class="textContainer">
              <p>"T-shirt section": Here you will find the best collections of T-shirts a variety of colors,brands and a good quality...</p>
              <button class="button">Visit section</button>
            </div>
        </div>
        <div class="container">
            <div class="imgContainer">
                <img src="https://images.unsplash.com/photo-1551488831-68b4d0c92c13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Italian Trulli">
            </div>
            <div class="textContainer">
              <p>"Jackets section": Here you will find the best collections of Jackets  to keep you warm and blend in with the rest of you outfit...</p>
              <button class="button">Visit section</button>
            </div>
        </div>
        <div class="container">
            <div class="imgContainer">
                <img src="https://images.unsplash.com/photo-1565084888279-aca607ecce0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Italian Trulli">
            </div>
            <div class="textContainer">
              <p>"Jeans section": Here you will find the best collections of the finest Jeans  with a big variety of color and brands...</p>
              <button class="button">Visit section</button>
            </div>
        </div>
        
    </section>

</body>

</html>